<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${historias}" th:remove="tag"></div>
				<form th:action="@{/registrar}" th:object="${historias}"
					method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Como</label>
						<div class="col-sm-6">
							<textarea th:field="*{como}" class="form-control">></textarea>
							<small class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Necesito</label>
						<div class="col-sm-6">
							<textarea th:field="*{necesita}" class="form-control">></textarea>
							<small class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Para</label>
						<div class="col-sm-6">
							<textarea th:field="*{para}" class="form-control"></textarea>
							<small class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input type="text" readonly="readonly" class="form-control"
								th:field="*{fechaRegistro}" /> <small
								class="form-text text-danger"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear historia"
								class="btn btn-secondary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>